/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #413c69;
  --clr-primary-2: #00adb5;
  --clr-primary-3: #3edbf0;
  --clr-primary-4: #87a7b3;
  /* primary/main color */
  --clr-primary-5: #77acf1;
  /* lighter shades of primary color */
  --clr-primary-6: #8fd6e1;
  --clr-primary-7: #9ddfd3;
  --clr-primary-8: #caf7e3;
  --clr-primary-9: #edeef7;
  --clr-primary-10: #f4f9f9;
  /* darkest grey - used for headings */
  --clr-grey-1: #03506f;
  --clr-grey-2: #276678;
  --clr-grey-3: #487e95;
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: #6f9eaf;
  --clr-grey-6: #c9cbff;
  --clr-grey-7: #d0e8f2;
  --clr-grey-8: #bce6eb;
  --clr-grey-9: #dbf6e9;
  --clr-grey-10: #f1f6f9;
  --clr-white: #fffafa;
  --clr-red-dark: #810000;
  --clr-red-light: #eb596e;
  --clr-green-dark: #1e6f5c;
  --clr-green-light: #61b15a;
  --clr-black: #222;
  --ff-primary: 'Mukta', sans-serif;
  --ff-secondary: 'Mukta',
  sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-10);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 400;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
}

/* section */
.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.loading-img {
  width: 20rem;
  height: 20rem;
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
}
main {
  padding-bottom: 2rem;
}
